# Lab 1 - Pandas Intro

In [1]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [2]:
movies_df.imdb_score.mean()

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [6]:
movies_df.movie_title.str.contains("Star Wars").sum()

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [42]:
movies_df.sort_values("imdb_score", ascending= False).reset_index().loc[0]

index                                                                     2725
color                                                                    Color
director_name                                                   John Blanchard
num_critic_for_reviews                                                     NaN
duration                                                                  65.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                   176.0
actor_2_name                                                     Andrea Martin
actor_1_facebook_likes                                                   770.0
gross                                                                      NaN
genres                                                                  Comedy
actor_1_name                                                      Martin Short
movie_title                                                   Towering Inferno
num_voted_users                                                             10
cast_total_facebook_likes                                                 1125
actor_3_name                                                      Joe Flaherty
facenumber_in_poster                                                       2.0
plot_keywords                                                              NaN
movie_imdb_link              http://www.imdb.com/title/tt0691996/?ref_=fn_t...
num_user_for_reviews                                                       NaN
language                                                               English
country                                                                 Canada
content_rating                                                             NaN
budget                                                                     NaN
title_year                                                                 NaN
actor_2_facebook_likes                                                   179.0
imdb_score                                                                 9.5
aspect_ratio                                                              1.33
movie_facebook_likes                                                         0
Name: 0, dtype: object

**3**. Which movie has the lowest IMDB Score? What is that score?

In [68]:
movies_df.sort_values("imdb_score", ascending= False).reset_index().loc[len(movies_df)-1]

index                                                                     2789
color                                                                    Color
director_name                                                       Jon M. Chu
num_critic_for_reviews                                                    84.0
duration                                                                 115.0
director_facebook_likes                                                  209.0
actor_3_facebook_likes                                                    41.0
actor_2_name                                                     Sean Kingston
actor_1_facebook_likes                                                   569.0
gross                                                               73000942.0
genres                                                       Documentary|Music
actor_1_name                                                     Usher Raymond
movie_title                                     Justin Bieber: Never Say Never
num_voted_users                                                          74351
cast_total_facebook_likes                                                  714
actor_3_name                                                       Boys II Men
facenumber_in_poster                                                       1.0
plot_keywords                    boyhood friend|manager|plasma tv|prodigy|star
movie_imdb_link              http://www.imdb.com/title/tt1702443/?ref_=fn_t...
num_user_for_reviews                                                     233.0
language                                                               English
country                                                                    USA
content_rating                                                               G
budget                                                              13000000.0
title_year                                                              2011.0
actor_2_facebook_likes                                                    69.0
imdb_score                                                                 1.6
aspect_ratio                                                              1.85
movie_facebook_likes                                                     62000
Name: 4915, dtype: object

**4.** For each director, how many movies have they directed (from this dataset)?

In [47]:
movies_df.value_counts("director_name")

director_name
Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
                    ..
James Mottern        1
James Melkonian      1
James Mather         1
James Manera         1
Étienne Faure        1
Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [61]:
movies_df[movies_df["genres"].str.contains("Action")].duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [76]:
movies_df[movies_df["content_rating"] == "PG-13"].sort_values("budget", ascending= False).reset_index().loc[0]

index                                                                     2294
color                                                                    Color
director_name                                                   Hayao Miyazaki
num_critic_for_reviews                                                   174.0
duration                                                                 134.0
director_facebook_likes                                                 6000.0
actor_3_facebook_likes                                                   745.0
actor_2_name                                                Jada Pinkett Smith
actor_1_facebook_likes                                                   893.0
gross                                                                2298191.0
genres                                             Adventure|Animation|Fantasy
actor_1_name                                                     Minnie Driver
movie_title                                                  Princess Mononoke
num_voted_users                                                         221552
cast_total_facebook_likes                                                 2710
actor_3_name                                                      Billy Crudup
facenumber_in_poster                                                       0.0
plot_keywords                    anime|cult film|forest|princess|studio ghibli
movie_imdb_link              http://www.imdb.com/title/tt0119698/?ref_=fn_t...
num_user_for_reviews                                                     570.0
language                                                              Japanese
country                                                                  Japan
content_rating                                                           PG-13
budget                                                            2400000000.0
title_year                                                              1997.0
actor_2_facebook_likes                                                   851.0
imdb_score                                                                 8.4
aspect_ratio                                                              1.85
movie_facebook_likes                                                     11000
Name: 0, dtype: object

**7.** How many movies were made in each year (title_year)?

In [77]:
movies_df.value_counts("title_year")

title_year
2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1943.0      1
1944.0      1
1958.0      1
1920.0      1
1916.0      1
Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [116]:
movies_df[movies_df["movie_facebook_likes"]> 10000].count().max()

1022


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [120]:
len(movies_df[(movies_df["actor_1_name"] == "Tom Hanks") | 
(movies_df["actor_2_name"] == "Tom Hanks") | 
(movies_df["actor_3_name"] == "Tom Hanks")])

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [136]:
movies_df[movies_df["facenumber_in_poster"]<2][['movie_title', 'num_voted_users']]

                         movie_title  num_voted_users
1920        The Shawshank Redemption          1689764
3402                   The Godfather          1155770
2779                         Dekalog            12590
3415                           Fargo           170055
2791          The Godfather: Part II           790926
...                              ...              ...
3282                         Glitter            19412
3438               Who's Your Caddy?            13815
2240                  Disaster Movie            74945
1126                      Foodfight!             4377
2789  Justin Bieber: Never Say Never            74351

[3313 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [143]:
movies_df[(movies_df["title_year"]>= 2000) &
(movies_df["title_year"]<= 2004)][['director_name', 'director_facebook_likes']]

           director_name  director_facebook_likes
335        Peter Jackson                      0.0
267        Peter Jackson                      0.0
3947  Fernando Meirelles                    353.0
336        Peter Jackson                      0.0
2344      Hayao Miyazaki                   6000.0
...                  ...                      ...
890         Martin Brest                    102.0
489      Roger Christian                     64.0
3282  Vondie Curtis-Hall                    170.0
2934       Robert Iscove                      7.0
2266           Bob Clark                     84.0

[932 rows x 2 columns]